{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "jest": true
  },
  "rules": {
    "semi": 0,
    "react/prop-types": 0,
    "comma-dangle": 0,
    "react/jsx-filename-extension": 0,
    "arrow-parens": 0,
    "no-restricted-syntax": 0,
    "no-shadow": 0,
    "react/jsx-props-no-spreading": 0
  },
  "overrides": [
    {
      "files": ["*.stories.js"],
      "globals": {
        "storiesOf": true,
        "Fragment": true
      },
      "rules": {
        "react/react-in-jsx-scope": "off",
        "react/jsx-no-undef": [
          2,
          {
            "allowGlobals": true
          }
        ]
      }
    },
    {
      "files": ["*.test.js"],
      "globals": {
        "mountWithTheme": true,
        "shallowWithTheme": true,
        "Fragment": true
      },
      "rules": {
        "react/react-in-jsx-scope": "off",
        "react/jsx-no-undef": [
          2,
          {
            "allowGlobals": true
          }
        ]
      }
    }
  ]
}
