name: Pull Request

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install application deps
        run: bun install

      - name: Build packages
        run: bun run pkgs:build

      - name: Type check
        run: bun run typecheck

      - name: Run tests
        run: bun run test

      - name: Lint codebase
        run: bun run lint
